.container {
  border-radius: 8px;
  background-color: var(--blue);
}

.image {
  object-fit: cover;
  width: max;
  height: 48px;
}

.textTitle {
  font-size: 20px;
  color: var(--yellow );
}

.textCategorie {
  font-size: 15px;
  color: var(--gray-100 );
}